In [2]:
#匯入csv
#NBA得分最高 top10
import pandas as pd

data1 = pd.read_csv("data01.csv")
data1

    #               PLAYER     GP    MIN    PTS    FGM    REB    AST
0   1  Kareem Abdul-Jabbar  1,560  57446  38387  15837  17440   5660
1   2         LeBron James  1,366  52138  37062  13543  10210  10045
2   3          Karl Malone  1,476  54852  36928  13528  14968   5248
3   4          Kobe Bryant  1,346  48643  33643  11719   7047   6306
4   5       Michael Jordan  1,072  41010  32292  12192   6672   5633
5   6        Dirk Nowitzki  1,522  51367  31560  11169  11489   3651
6   7     Wilt Chamberlain  1,045  47859  31419  12681  23924   4643
7   8     Shaquille O’Neal  1,207  41917  28596  11330  13099   3026
8   9      Carmelo Anthony  1,260  43513  28289  10119   7808   3422
9  10         Moses Malone  1,329  45071  27409   9435  16212   1796

In [3]:
#LeBron James認為歷史 top10
data2 = pd.read_csv("data02.csv")
data2

       #               PLAYER
0    1.0       Michael Jordan
1    2.0         LeBron James
2    3.0  Kareem Abdul-Jabbar
3    4.0         Bill Russell
4    5.0        Magic Johnson
5    6.0     Wilt Chamberlain
6    7.0           Larry Bird
7    8.0     Shaquille O’Neal
8    9.0           Tim Duncan
9   10.0          Kobe Bryant
10   NaN                  NaN

In [4]:
#列出子集合
set_data1 = set(data1["PLAYER"])
set_data2 = set(data2["PLAYER"])

In [5]:
set_data1

{'Carmelo Anthony',
 'Dirk Nowitzki',
 'Kareem Abdul-Jabbar',
 'Karl Malone',
 'Kobe Bryant',
 'LeBron James',
 'Michael Jordan',
 'Moses Malone',
 'Shaquille O’Neal',
 'Wilt Chamberlain'}

In [6]:
set_data2

{'Bill Russell',
 'Kareem Abdul-Jabbar',
 'Kobe Bryant',
 'Larry Bird',
 'LeBron James',
 'Magic Johnson',
 'Michael Jordan',
 'Shaquille O’Neal',
 'Tim Duncan',
 'Wilt Chamberlain',
 nan}

In [7]:
# 聯集
(set_data1 | set_data2)

{'Bill Russell',
 'Carmelo Anthony',
 'Dirk Nowitzki',
 'Kareem Abdul-Jabbar',
 'Karl Malone',
 'Kobe Bryant',
 'Larry Bird',
 'LeBron James',
 'Magic Johnson',
 'Michael Jordan',
 'Moses Malone',
 'Shaquille O’Neal',
 'Tim Duncan',
 'Wilt Chamberlain',
 nan}

In [8]:
# 交集
(set_data1 & set_data2)

{'Kareem Abdul-Jabbar',
 'Kobe Bryant',
 'LeBron James',
 'Michael Jordan',
 'Shaquille O’Neal',
 'Wilt Chamberlain'}

In [9]:
# 差集
#得分前10卻沒又在LeBron James的top10名單中
set_data1 - (set_data1 & set_data2)

{'Carmelo Anthony', 'Dirk Nowitzki', 'Karl Malone', 'Moses Malone'}

In [10]:
# 對稱差集
#只有在得分前10或只有在LeBron James的top10名單中
(set_data1 | set_data2) - (set_data1 & set_data2)

{'Bill Russell',
 'Carmelo Anthony',
 'Dirk Nowitzki',
 'Karl Malone',
 'Larry Bird',
 'Magic Johnson',
 'Moses Malone',
 'Tim Duncan',
 nan}